<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true">

	<bean id="servicefactory" class="com.assemsoft.forge.core.ServiceFactory">
        <property name="reg">
            <!--<list>
                <ref bean="dbservice" />
                <ref bean="sender" />
            </list>-->
            <map>
				<entry key="DbService" value-ref="dbservice" />
				<entry key="Sender" value-ref="sender" />
		    </map>
        </property>
    </bean>
    
    <bean id="dbservice" class="com.assemsoft.forge.database.DbService" />
    <bean id="sender" class="com.assemsoft.forge.net.Sender" />
    
</beans>

